image: golang:1.25.3-trixie

stages:
  - build
  - lint
  - test
  - release

golangci-lint:
  image: gitlab.thumbrise.ru:5050/taskman/taskman-backend/base
  stage: lint
  tags:
    - shared
  interruptible: true
  variables:
    GOLANGCI_LINT_CACHE: "${CI_PROJECT_DIR}/.cache/golangci-lint"
  cache:
    key: golangci-lint
    paths:
      - .cache/golangci-lint
    policy: pull-push
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      when: always
    - when: never
  before_script:
    - mkdir -p /go/.cache/golangci-lint
  script:
    - golangci-lint run ./...

conventional-commits-lint:
  stage: lint
  image: gitlab.thumbrise.ru:5050/taskman/taskman-backend/base
  tags:
    - shared
  interruptible: true
  only:
    - merge_requests
  script:
    - |
      if [ "$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" != "" ]; then
        echo "Checking conventional commits from $CI_MERGE_REQUEST_TARGET_BRANCH_NAME to $CI_COMMIT_SHA"
        git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
        npx commitlint --from origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME --to HEAD --verbose
      else
        echo "Not a merge request, skipping conventional commits check"
      fi

release:
  image: gitlab.thumbrise.ru:5050/taskman/taskman-backend/base
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  variables:
    GITLAB_TOKEN: $CI_BOT_TOKEN
    GITLAB_URL: $CI_SERVER_URL
  before_script:
    - apk add --no-cache git curl
  script:
    - git clean
    - git fetch origin --tags -f
    - git config user.name "GitLab CI Bot"
    - git config user.email "ci@gitlab.com"
    - semantic-release

test:
  image: docker:latest
  tags:
    - shared
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      when: on_success
    - when: never
  variables:
    DOCKER_HOST: tcp://thedockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_BUILDKIT: '1'
  services:
    - name: docker:dind
      alias: thedockerhost
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" --username "$CI_REGISTRY_USER" --password-stdin
    - apk add --no-cache curl
    - sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
    - cp .env.example .env
    - task c -- pull
    - task c -- build
  interruptible: true
  script:
    - task c -- run --rm app task test
