name: "golang-demo"

include:
  - ./.docker/docker/docker-compose.observability.yaml

services:
  app:
    extends:
      file: .docker/docker/docker-compose.common.yaml
      service: common_backend
    ports:
      - "127.0.0.1:${DOCKER_PORT_APP:?}:${HTTP_PORT:?}"
    command: go run . serve
    healthcheck:
      test: wget --spider http://localhost:${HTTP_PORT:?}/health
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 3s

  redis:
    env_file: .env
    image: redis:7.4.1-alpine
    restart: unless-stopped
    ports:
      - "127.0.0.1:${DOCKER_PORT_REDIS:?}:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - redis_data:/data
      - ./.docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  db:
    image: postgres:16.11
    environment:
      POSTGRES_USER: ${DB_USERNAME:?}
      POSTGRES_PASSWORD: ${DB_PASSWORD:?}
      POSTGRES_DB: ${DB_DATABASE:?}
      PGUSER: ${DB_USERNAME:?}
      PGPASSWORD: ${DB_PASSWORD:?}
      PGDATABASE: ${DB_DATABASE:?}
    ports:
      - "127.0.0.1:${DOCKER_PORT_DB:?}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./.docker/postgresql/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    command: >
      postgres
      -c config_file=/etc/postgresql/postgresql.conf
      -c shared_preload_libraries='pg_stat_statements'
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USERNAME}", "-d", "${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  db-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    restart: unless-stopped
    environment:
      DATA_SOURCE_URI: "db:5432/${DB_DATABASE:?}?sslmode=disable"
      DATA_SOURCE_USER: ${DB_USERNAME:?}
      DATA_SOURCE_PASS: ${DB_PASSWORD:?}
    ports:
      - "127.0.0.1:${DOCKER_PORT_POSTGRES_EXPORTER:?}:9187"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:9187/metrics" ]
      interval: 10s
      timeout: 5s
      retries: 3

  adminer:
    env_file: .env
    image: adminer
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - |
        exec php -S [::]:${DOCKER_PORT_ADMINER:?} -t /var/www/html
    ports:
      - "127.0.0.1:${DOCKER_PORT_ADMINER:?}:${DOCKER_PORT_ADMINER:?}"

  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    volumes:
      - mailpit_data:/data
    ports:
      - "127.0.0.1:${DOCKER_PORT_MAILPIT_WEB:?}:8025"
      - "127.0.0.1:${DOCKER_PORT_MAILPIT_SMTP:?}:1025"
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1



volumes:
  app_gopath:
  db_data:
  mailpit_data:
  redis_data:
