apiVersion: 1

datasources:
  - name: Jaeger
    type: jaeger
    url: http://jaeger:16686
    access: proxy
    isDefault: false
    editable: false
    jsonData:
      # Включить Node Graph
      nodeGraph:
        enabled: true

      # Настройки запросов трейсов
      traceQuery:
        timeShiftEnabled: true
        spanStartTimeShift: '1h'
        spanEndTimeShift: '-1h'

      tracesToLogs:
        datasourceUid: 'prometheus'
        tags: ['job', 'instance', 'service.name']
        mappedTags: []
        mapTagNamesEnabled: false
        spanStartTimeShift: '1h'
        spanEndTimeShift: '-1h'

      tracesToMetrics:
        datasourceUid: 'prometheus'
        tags: ['job', 'instance', 'service.name']
        queries:
          - name: 'Request rate'
            query: 'sum(rate(traces_spanmetrics_latency_bucket{service="${service}"}[5m]))'
          - name: 'Error rate'
            query: 'sum(rate(traces_spanmetrics_calls_total{service="${service}",status_code="ERROR"}[5m]))'

      spanBar:
        type: 'None'
      lokiSearch:
        datasourceUid: 'prometheus'
      serviceMap:
        datasourceUid: 'prometheus'
      search:
        hide: false
