apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
#    uid: DS_PROMETHEUS
    orgId: 1
    folder: ''
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"
      manageAlerts: true
      disableMetricsLookup: false
    version: 1
